@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling body elements */
body{
    background-color:#ffff ;
    font-family: "lato";
    font-size: 16px;
    margin: 10px auto;


}

/* Styling the navigation bar elements */
header{
    background-color: #ffff;
    width: 1340px;
    height: 83px;
    padding: 0px 60px 0px 60px;
    gap: 10px;
    opacity: 0px;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}

.nav_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    width: 48px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: "lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/* Styling hero section elements */
.hero{
    max-width: 1340px;
    height: 100vh;
    gap: 0px;
    opacity: 0px;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hero_box{
    /* margin-top: 120px; */
    width: 493px;
    height: 336px;
    background-color: #ffff;
    border-radius: 0px 60px 60px 0px;
    padding: 60px 80px 60px 80px;
    /* border: 1px solid red; */
    gap: 32px;
    position: absolute;
    top: 223px;
}


.box_1 h1{
    font-family: "lato";
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    text-align: left; 
}


.box_1 p{
    font-family: "lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    margin-top: 15px; 
}
  

/* Styling future section elements */
.future{
    width: 1280px;
    height: 378px;
    margin-top: 100px;
    margin-left: 30px;
    gap: 0px;
    opacity: 0px;
    display: flex;
}


.future_img{
    /* margin-top: 60px; */
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px; 
    width: 640px;
    height: 378px;    
}


grid-item img{
    max-width: 320px;
    height: 189px;
    opacity: 0px;
}


.future_content{
    width: 640px;
    height: 378px;
    /* left: 640px; */
    padding: 120px 80px 120px 80px;
    /* gap: 32px; */
    border-radius: 0px 60px 60px 0px;
    opacity: 0px;
    background: #F2F0F2;
}


.future_content h2{
    font-family: "lato";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    margin-bottom: 10px;
}


.future_content p{
    font-family: "lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}




/* Styling features section elements */
.features_features{
    max-width: 1440px;
    height: 480px;
    margin-top: 80PX;
    padding: 0px 80px 0px 80px;
    gap: 60px;
    opacity: 0px; 
}


.features_content{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    max-width: 1047px;
    height: 172px;
    /* gap: 16px; */
    opacity: 0px;
    /* border: 1px solid red; */
    /* margin-left: 60px; */
    padding-left: 100px;
}


.features_content h2{
    font-family: "lato";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.features_content p{
    font-family: "lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    /* margin-bottom: 50px; */
}


.features_features .box{
    max-width: 1280px;
    height: 248px;
    opacity: 0px;
    /* border: 1px solid purple; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}


.features_features .box .box_features{
    width: 305px;
    height: 248px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px;
    opacity: 0px;
    background: #E2F1E8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: first baseline;
}

.box_features i{
    font-size: 45px;
    max-height: 50px;
}


.box_features h4{
    font-family: "lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #181A18;
}


.box_features p{
    font-family: "lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #181A18;
}

.nav i{
    display: none;
}





@media(max-width: 768px){
   header{
    padding: 0;
    width: 768px;
   }

    .nav{
        max-width: 768px;
        margin-right: 50px; 
    }

    .nav i{
        display: block;
        font-size: 30px;
        padding-left: 450px;
    }

    .nav_link{
        display: none;
        max-width: 760px;
    }
 
    .hero{
        max-width: 100%;
    }

    .hero_box{
        width: 440px;
        height: 272px;
        position: absolute;
        top: 110px;
        border-radius: 0px 40px 40px 0px;
        padding: 32px;
        
    }

    
    /* future section styling */
     main{
        max-width: 768px;
        height: 500px;
    }
    
    .future{
        flex-direction: column;
        width: 700px;
        justify-content: center;
        height: 578px;
        margin-left: 65px;  
    }

    .future_img{
        padding: 0px; 
        width: 240px;
        height: 378px;
    }
    
    
    
    
    .future_content{
        width: 668px;
        height: 450px;
        padding: 5px;
        border-radius:10px;
    }
    
    
    .future_content h2{
        text-align: center;
        margin-top: 15px;
    }

    
    .future_content p{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
    
    
    /* features section styling */

    .features_features{
    max-width: 768px;
    height: 1520px;
    margin-top: 230px;
    /* margin-left: 0px; */
    padding-left: 0;
}

.features{
    max-width: 768px;
    max-height: 1500px;
    padding-left: 0px;
    margin-left: 0;
}

.features_content{
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 750px;
    margin-top: 100px;
    height: 272px;
    margin-left: 0;
    padding-left: 0;
}


.features_content h2{
    font-size: 40px;
    text-align: center;
}

.features_content p{
    font-size: 25px;
    line-height: 40px;
}


.features_features .box{
    width: 568px;
    height: 1048px;
    flex-direction: column;
    align-items: center;
    margin-top: 90px; 
    margin-left: 100px;
}


}


/* Media query for small mobile */
@media(max-width: 375px){
   header{
    padding: 0;
    width: 370px;
   }
    .nav{
        max-width: 370px;
        margin-right: 50px; 
    }

    .nav i{
        display: block;
        font-size: 30px;
        padding-left: 100px;
    }

    .nav_link{
        display: none;
        max-width: 360px;
    }

    .hero{
        max-width: 100%;
        min-height: 748px;
        background-position: center;
        background-size: cover;
        background-position-x: -650px;
    }

    .hero_box{
        width: 340px;
        height: 232px;
        position: absolute;
        top: 110px;
        border-radius: 0px 40px 40px 0px;
        padding: 32px;
    }

    .hero_box .box_1{
        position: absolute;
        top: 15px;
        left: 40px;
    }
    
    
    .box_1 h1{
        font-size: 40px;
        margin-top: 0; 
    }
    
    
    .box_1 p{
        font-size: 16px;
        text-align: left;
        padding-right: 10px;
    }

    
    /* future section styling */
     main{
        max-width: 360px;
        height: 500px;
    }
    
    .future{
        flex-direction: column;
        width: 350px;
        height: 378px;
        margin-top: 130px;
        margin-left: 20px;  
    }

    .future_img{
        padding: 0px; 
        width: 240px;
        height: 378px; 
    }
    
    
    .future_img  img{
        width: 172px;
        height: 120px;
    }
    
    
    .future_content{
        width: 343px;
        height: 232px;
        padding: 5px;
        border-radius: 0px 0px 20px 20px;
    }
    
    
    .future_content h2{
        font-size: 30px;
        text-align: center;
    }

    
    .future_content p{
        font-size: 16px;
        text-align: center;
    }
    
    
    /* features section styling */

    .features{
        max-width: 370px;
        max-height: 1500px;
        /* border: 1px solid greenyellow;  */
        padding-left: 0px;
    }

    .features_features{
    max-width: 370px;
    height: 1480px;
    margin-top: 0px;
    padding: 10px; 
    margin-left: 0;
} 


.features_content{
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-left: 0;
    margin-left: 0;
    width: 350px;
    height: 172px;
    margin-left: 0px;
}


.features_content h2{
    margin-left: 0;
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
}

.features_content p{
    margin-left: 0;
    padding-left: 10px;
    font-size: 16px; 
}


.features_features .box{
    width: 300px;
    height: 248px;
    flex-direction: column;
    margin-top: 70px; 
    padding-left: 25px;
    margin-left: 20px;
}


}




